@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:rgb(255, 255, 255);
    --box-shadow: 2px 2px 10px 14px red;
}
body{
    position: relative;
    width: 100%;
    background-color: #fff;
}
section{
    height: 100vh;
}

/*01-MainInterface Section 01*/
.MainInterface_Sec01{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
}
/*01.1 header Logo set*/
header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0 50px 0 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 1;
    background-color: #e01e1e;
}
/*01.1.1 Navigation logo*/
.headerLogo{
    position: relative;
    top: 0;
    left: 0;
    /* padding-top:10px; */
    width: 150px;
    height: 100%;
    /* background-color: rgb(156, 156, 156); */
    }
    .headerLogo img{
        position: relative;
        /* object-fit: cover; */
        width: 100%;
        height: 100%;
    }
/*01.1.2 Navigation*/
.MainInterface_Sec01 nav{
    position: relative;
    top:0;
    left:0;
    width: auto;
    height: 100%;
    /* background-color: rgb(255, 163, 243); */
}
.nav_ul{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    /* background-color: rgb(255, 0, 0); */
    /* box-shadow: 0px 20px 10px 0px rgba(148, 148, 148, 0.11); */
    border-radius: 25px;
}
.nav_ul li{
    /* display: inline-block; */
    position: relative;
    position: relative;
    margin: 0 5px;
    /* background-color: #fff; */
}
.nav_ul li a{
    display: block;
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    transition: .4s;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav_ul li a i{
    font-size: 14px;
    color: rgb(0, 0, 0);
}
.nav_ul li .dropdown {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgb(48, 83, 13); */
    display: none;
    z-index: 1;
    transition: .4s;
}
.nav_ul li .dropdown li{
    display: block;
    margin:  0px;
    /* background-color: aliceblue; */
}
.nav_ul li  .dropdown li a{
    padding: 10px 10px;
    background-color:  rgba(224, 213, 213, 0.596);
}
.nav_ul li i{
    transition: .5s;
    color: rgba(116, 116, 116, 0.829);
}
.nav_ul li .dropdown li{
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
}

.nav_ul li:hover{
    /* background-color: rgb(13, 219, 185); */
    color: #000;
    transition: .5s;
}
.nav_ul li a:hover{
    background-color: rgba(179, 179, 179, 0.356);
    color: #a81d1d;
    transition: .3s;
}
.nav_ul li:hover i{
    color: red;
    transition: .3s;
    transform: translateX(3px);
    font-size: 18px;
}
.nav_ul li:hover .dropdown{
    /* background-color: rgb(201, 8, 8); */
    display: block;
    color: #000;
}
.nav_ul li:hover .dropdown a:hover{
    background-color: rgb(255, 142, 142);
}






            /* .MainInterface_Sec01 nav ul li .dropdown_menu li a:hover{
                background-color: rgb(253, 0, 118);
            }
            .MainInterface_Sec01 nav ul li a:hover{
                background-color: rgb(255, 0, 200);
                transition: .2s;
            }
            .MainInterface_Sec01 nav ul li:hover .dropdown_menu{
                display: block;
                visibility:visible;
            } */
           
/*01.1.3 NavIcon*/
.header_control_icon{
    position: relative;
    top: 0;
    right: 0;
    height: 100%;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}
/*01.1.3.1 NavIcon_sub*/
    .header_icon_sub{
        position: relative;
        width: 100%;
        height: 30px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(185, 185, 185);
        border-radius: 60px;
        cursor: pointer;
        transition: .3s;
    }
    .header_icon_sub:hover{
        background-color: rgb(241, 241, 241);
        
    }
        .header_icon_sub div:hover{
            transition: .3s;
            transform: translatey(-1px);
            /* transform: scale(1.1); */
        }
            .header_icon_sub div i{
                
                font-size: 18px;
                color:rgb(255, 255, 255)
            }
            .header_icon_sub div:hover i{
                color: red;
                transition: .3s;
            }
   
.containt{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    /* background-color: red; */
}
.texts{
    position: relative;
    top: 10%;
    left: 45%;
    top: 50%;
    transform: translateX(-50%, 50%);
}
#www{
    position: relative;
    font-size: 50px;
}


/*01.1.3.2 NavIcon_menu*/
.header_icon_Menu{
    display: none;
}
    .header_icon_Menu i{
        font-size: 18px;
        color:rgb(0, 110, 255)
    }


@media (max-width:900px){

    header{
        position: fixed;
        background-color: #fff;
        padding: 0 20px 0 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.568);
    } 
    
    .MainInterface_Sec01 nav{
        position: fixed;
        width: 100%;
        height: 100%;
        top:0;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        left: 50%;
        transform: translateX(-150%);
        transition: 1s;
        background-color: rgb(235, 7, 7);
    }
    .nav_ul{
        position: relative;
        width: 100%;
        flex-direction: column;
        border-radius: 0px;
        background-color: rgb(172, 152, 64);
    }
    .MainInterface_Sec01 .responsive_nave{
        transform: translateX(-50%);
        transition: 1s ease-in-out;        
    }
    .MainInterface_Sec01 .dropdown{
        display: none;
    }
    .nav_ul li .dropdown li{
        display: none;
    } 
    .MainInterface_Sec01 nav::after{

        content: '© 2024 devvs -   All Rights Reserved.';
        position: absolute;
        bottom: 50px;
        font-size: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    }
    .MainInterface_Sec01 nav .nav_ul li{
        margin: 20px;
    }
    .header_icon_Menu{
        display: block;
    }
    .header_icon_sub{
        background-color:unset;
    }
    .headerLogo{
        z-index: 2;
    }
    .header_control_icon{
        z-index: 2;
    }
    .MainInterface_Sec01 nav ul li .dropdown_menu {
        display: none;
    }
    

    .header_icon_sub:hover{
        background-color:unset;
        
    }
        .header_icon_sub div:hover{
            transition: .3s;
            transform: translatey(-1px);
            /* transform: scale(1.1); */
        }
            .header_icon_sub div i{
                
                font-size: 20px;
                color:rgb(71, 72, 73)
            }
            .header_icon_sub div:hover i{
                color: red;
                transition: .3s;
            }
            .header_icon_Menu i{
                margin:2px;
                font-size: 25px;
                color:rgb(0, 110, 255)
            }


        }



/*01.2.0 Bg*/
.img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: #fff; */
    z-index: 0;
    overflow-x: hidden;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}