@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:rgb(255, 255, 255);
    --box-shadow: 2px 2px 10px 14px red;
}

body{
    position: relative;
    width: 100%;
    background-color: #f3f3f3;
}
section{
    height: 100vh;
}

/*01-MainInterface Section 01*/
.MainInterface_Sec01{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
}

/*01.01 header*/
header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 10;
    /* background-color: #e01e1e; */
}

/*01.01.02 Header LOGO*/
.headerLogo{
    position: relative;
    top: 0;
    left: 0;
    /* padding-top:10px; */
    width: 150px;
    height: 100%;
    /* background-color: rgb(156, 156, 156); */
    }
    .headerLogo img{
        position: relative;
        /* object-fit: cover; */
        width: 100%;
        height: 100%;
    }

/*01.01.02 Navigation*/
.MainInterface_Sec01 nav{
    position: relative;
    top:0;
    left:0;
    width: auto;
    height: 100%;
    /* background-color: rgb(255, 163, 243); */
}
.nav_ul{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    /* background-color: rgb(255, 0, 0); */
    /* box-shadow: 5px 5px 5px 0px rgba(148, 148, 148, 0.678); */
    /* border-radius: 25px; */
}
    .nav_ul::after{
        content: '';
        position: absolute;
        left: 15%;
        bottom: 10px;   
        width: 70%;
        height: 2px;
        /* transform: translatex(10%); */
        background-color: #0b0f4e44;
        border-radius: 2px;
        transition: .5s;
        /* box-shadow: 2px 10px 20px rgb(119, 184, 167); */
    }
    .nav_ul:hover::after{
        bottom: 5px;
        transition: .5s;
        background-color:transparent;
    }
.nav_ul li{
    /* display: inline-block; */
    position: relative;
    position: relative;
    margin: 0 5px;
    /* background-color: #fff; */
}
    .nav_ul li:hover{
        /* background-color: rgb(82, 174, 202); */
        transition: .5s;
    }
.nav_ul li a{
    display: block;
    padding: 10px 20px;
    color: #202020;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    transition: 1s;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-tap-highlight-color: transparent;
    /* background-color: #a81d1d; */
}
    .nav_ul li a:hover{
        /* background-color: rgba(179, 179, 179, 0.356); */
        color: #a81d1d;
        transition: .3s;
    }
    .nav_ul li a::after{
        content: '';
        position: absolute;
        left: 0%;
        bottom: 0px;
        width: 0%;
        height: 2px;
        /* transform: translatex(10%); */
        background-color: #ff0000;
        border-radius: 2px;
        transition: .5s;
    }
    .nav_ul li a:hover::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -0px;
        width: 100%;
        height: 2px;
        /* transform: translatex(10%); */
        background-color: #107088;
        border-radius: 2px;
        transition: .3s;
        box-shadow: none;
    }
.nav_ul li a i{
    font-size: 15px;
    width: 20px;
    color: rgb(0, 9, 58);
    transition: .4s;
}
    .nav_ul li:hover i{
        color: red;
        transition: .3s;
        transform: translateX(3px);
        font-size: 18px;
    }
/*01.01.02 ~1 Navigation DropDown*/
.nav_ul li .dropdown {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgb(48, 83, 13); */
    display: none;
    z-index: 1;
    transition: .4s;
}
    .nav_ul li:hover .dropdown{
        /* background-color: rgb(201, 8, 8); */
        display: block;
        color: #000;
    }
.nav_ul li .dropdown li{
    position: relative;
    display: block;
    height: 100%;
    margin:  0px;
    /* background-color: rgb(0, 0, 0);          */
}
.nav_ul li .dropdown li a{
    padding: 10px 10px;
    background-color:  rgba(152, 187, 187, 0.233);
}
    .nav_ul li .dropdown a:hover{
        background-color: rgba(0, 135, 189, 0.082);
        /* background-color: rgba(255, 0, 0, 0.568); */
    }
  
/*01.01.3 NavIcon*/
.header_icon-box{
    position: relative;
    top: 0;
    right: 0;
    height: 100%;
    width: 140px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    transition: .5s;
}
/*01.01.3.1 NavIcon*/
.header-icons{
    position: relative;
    width: 100%;
    height: 30px;
    padding: 0 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 60px;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0px 7px 10px 0px rgba(148, 148, 148, 0.342);
    background-color: rgba(30, 18, 75, 0.212);
}
    .header-icons:hover{
        background-color: rgb(241, 241, 241);       
    }
   .header-icons .header_icon-div i{
            padding: 10px;
            transition: .6s;
            font-size: 18px;
            color:rgb(8, 47, 83);
            /* background-color: #5c0404; */
        }
        .header-icons .header_icon-div:hover i{
            color:darkorange;
            transition: .6s;
            transform: scale(1.0) translateY(-2px);
        }
        .header-icons .header_icon-div .nav_header_icon-heart{
            color: rgb(243, 94, 119);
        }
        .header-icons div:hover .nav_header_icon-heart{
            color: red;
        }
        .header-icons div .nav_header_icon-log{
            color:rgb(8, 47, 83);
        }
        .header-icons div:hover .nav_header_icon-log{
            color: rgb(0, 68, 255);
        }
/*01.01.3.2 Respond_Icon*/
.header_icon_Menu{
    display: none;
}
            
/* /*01.02 container */

.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* transform: translate(-50%, -50%); */
    background-color: red;
}
.texts{
    position: relative;
    width: 90%;
    /* top: 0; */
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    /* background-color: aqua; */
}
    .texts p {    
        position: relative;
        font-size: 50px;
        text-align: center;   
    }

/*01.2.0 Bg*/
.img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 0;
    /* overflow-x: hidden; */
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.texts p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-stretch: narrower;
    font-size: 60px;
    color: rgb(4, 11, 24);
}
#nav-container.active #Nav_row {
    transform: translateX(0);
    transition: 1s;
    /*left move*/
  
  }
  #nav-container.active #Nav_row {
    transform: translateX(500px);
    transition: 1s;
  }



/*0 Footer area*/
footer{
    position: relative;
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
    padding: 10px;
    background-color: #03071e;
}
/*0.1 footer_menu*/
.footer_menu{
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0px;
    /* background-color: rgb(78, 173, 49); */
    display: flex;
    align-items:center;
    justify-content: space-around;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/*0.1.1 footer_img*/
.footer_content{
    position: relative;
    min-width: 10px;
    min-width: 100px;
    /* height: 170px; */
    left: 0;
    bottom: 0;
    /* background-color: #ffffff00; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    margin: 20px;
    /* background-color: aqua; */
}   
    .footer_content p {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 5px;
        color: #fff;
        /* background-color: #107088; */
        font-family:Arial, Helvetica, sans-serif;
        /* text-transform: uppercase; */
    }
    .footer_content li{
        /* list-style: none; */
        margin-bottom: 5px;
    }
    .footer_content a{
        text-decoration:wavy;
        margin-bottom: 5px;
        padding-bottom: 5px;
        color: #ffffffe3;
        font-size: 13px;
        /* background-color: #107088; */
        font-family:Arial, Helvetica, sans-serif;
    }
    .footer_logo{
        align-items: center;
        justify-content: center;
        /* background-color: crimson; */
    }
    .footer_logo img {
        width: 200px;
    }

    .footer_socialmedia{
        align-items: center;
        justify-content: center;
        /* background-color: crimson; */
    }
        .footer_socialmedia ul li{
            display: inline-block;  
        }
        .footer_socialmedia ul li i{
              color: rgb(7, 77, 107);
              font-size: 15px;
              padding: 3px;
        }
/*0.2 footer_details*/
.footer_details{
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0px;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer_details p{
    color: gray;
    font: 10px sans-serif;
}
/* Responsive area */

/* Tab View for navigation */    
@media (max-width:950px){
    .nav_ul li{
        margin: 0 0px;
        /* background-color: #cc0000; */
    }
    .nav_ul li a{
        padding: 0px 10px;
    }
    .nav_ul li a::after{
        content: '';
        width: 0%;
    }
    .nav_ul li a:hover::after{
        content: '';
        width: 0%;
    }
    .nav_ul li a i{
        display: none;
    }
    .nav_ul li:hover i{
        transition: 0s;
        transform: translateX(0px);
        font-size: 18px;
    }
    .header_icon-box{
        margin-right: 5px;
    }
}
/* Moblie View  for natigation*/
@media (max-width:720px){

    header{
        position: fixed;
        background-color: #fff;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.568);
        padding: 0 10px 0 10px;
    }
    .headerLogo{
        z-index: 10;
        -webkit-tap-highlight-color: transparent;
    }  
    /*01.01.02 Navigation*/
    .MainInterface_Sec01 nav{
        position: fixed;
        width: 100%;
        height: 100vh;
        top:0;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        left: 50%;
        transform: translateX(-150%);
        transition: 1s;
        background-color: rgb(255, 255, 255);
        }
        .MainInterface_Sec01 nav::before{ 
            content: '';
            position: absolute;
            top: 80px;
            width: 100%;
            height: 3px;
            background-color: #a81d1d;
            box-shadow: 0px 7px 10px 0px rgba(148, 148, 148, 0.384);
        }
        .MainInterface_Sec01 nav::after{ 
            content: '© 2024 devvs -   All Rights Reserved.';
            position: absolute;
            bottom: 10vh;
            font-size: 10px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
        }
        .MainInterface_Sec01 .responsive_nav_active{/*js class*/
            transform: translateX(-50%);
            transition: 1s ease-in-out;        
        }
    .nav_ul{
        position: relative;
        width: 100%;
        flex-direction: column;
        /* background-color: rgb(172, 152, 64); */
        }
        .nav_ul::after{
            display: none;
        }
        .nav_ul:hover::after{
            display: none;
        }
        .nav_ul li a i{
            display: inline;
        }
            .nav_ul li:hover i{
                color: red;
                transition: .4s;
                transform: translateX(0px);
                font-size: 15px;
            }
    /*01.01.02 ~1 Navigation DropDown*/
    .MainInterface_Sec01 .dropdown{
        display: none;
    }
    .nav_ul li .dropdown li{
        display: none;
    } 
    .MainInterface_Sec01 nav .nav_ul li{
        margin: 35px;
    }
    /*01.01.3 NavIcon*/
    .header_icon-box{
        z-index: 10;
        background-color:unset;  
        width: auto;
        margin-right: 0px;
        /* background-color: red; */
    }
    .header-icons{ 
        user-select:none;
        border-radius: 0px;
        width: auto;
        box-shadow: none;
        background-color:unset; 
        -webkit-tap-highlight-color: transparent; 
    }
    .header-icons:hover{
        background-color:unset;  
    }
    .header-icons div{
        transition: 0s;
        transform: translatey(0px);
        transform: scale(1);
        background-color: unset;
    }
    .header-icons div i{
        font-size: 18px;
        color:rgb(8, 47, 83);
        padding: 10px;
        background-color: unset;
    }
            .header-icons div:hover i{
                color: rgb(68, 8, 0);
                transition: 0s;
                transform: translatey(0px);
            }
    .header_icon_Menu{
        display: block;
        /* background-color: #e4abab; */
        cursor: pointer;  
        -webkit-tap-highlight-color: transparent;  
        /* background-color: #000;     */
    }
    .header_icon_Menu i{
        position: relative;
        font-size: 30px;
        color:rgb(8, 32, 61);
        margin: 10px;
        padding: 0 10px 0 0px;
        transition: 1s;
        /* background-color: #107088; */
    }       
        .header_icon_Menu .Responsive_icon_menu-Close{
            position: relative;
            display: none;
            font-size: 35px;
            top: 10px;
            animation: Responsive_icon_menu-Close 3s ease-in-out;
            animation-iteration-count: infinite;
            padding: 0 14.5px 0 0px;
        }
    @keyframes Responsive_icon_menu-Close {
        0%{
            color: red;
        }
        50%{
            color: rgb(0, 0, 0);
        }
        70%{
            color: red;
        }
        100%{
            color: red;
        }
    }
    .Responsive_icon_menu_active .Responsive_icon_menu-Close{
        display: inline;
        color: red;
        transition: 1s;
        top: 0px;
    } 
        .Responsive_icon_menu_active .Responsive_icon_menu-Opne{
            display: none;
        }
}
@media (max-width:720px){
    /*0.1 footer_menu*/
/* .footer_menu{
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: rgb(78, 173, 49);
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer_content_fst , .footer_content-scnd {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: rgb(11, 41, 2);
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    flex-wrap: wrap;
} */
.footer_menu{
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0px;
    /* background-color: rgb(78, 173, 49); */
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer_logo{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    /* background-color: crimson; */
}
.footer_logo img {
    width: 150px;
}
}





/* .footer_content_fst , .footer_content-scnd {
    position: relative;
    height: 100%;
    width: 400px;
    left: 0;
    bottom: 0; */
    /* background-color: rgb(218, 180, 11); */
    /* display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer_content_fst li , .footer_content-scnd li {
    list-style:none;
}
.footer_content_fst a , .footer_content-scnd a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    margin: 10px;
    padding: 10px;
} */